#sectionBoard {
	margin-top: 3vh;
	display: flex;
	justify-content: center;

	.buttonArrow {
		position: fixed;
		margin-top: 40vh;
	}

	.boardsBD {
		width: 75vw;
	}

	#back {
		left: 5vw;
	}

	#next {
		right: 5vw;
	}
}
.buttonScroll
{
	top:80vh;
	right: 5vw;
	position:fixed;
	display: flex;
	flex-direction: column;
}

#scrollUp {
	padding: 3px;
}

#scrollDown {
	padding: 3px;
}

