#sectionBoard {
	margin-top: 3vh;
	display: flex;
	justify-content: center;

	a.buttonArrowBoard {
		position: fixed;
		margin-top: 40vh;
	}

	.boardsBD {
		width: 75vw;
	}

	#backBoard {
		left: 5vw;
	}

	#nextBoard {
		right: 5vw;
	}
}
.buttonScrollBoard
{
	top:80vh;
	right: 5vw;
	position:fixed;
	display: flex;
	flex-direction: column;
}

#scrollUpBoard {
	padding: 3px;
}

#scrollDownBoard {
	padding: 3px;
}

#buttonReturnBoard {
	position: fixed;
	top: 15vh;
	left: 3.5vw;
}

#buttonReturnBoard:hover {
	background-color: rgba(0,0,0,0.1);
	color: rgba(0,0,0,0.8);
}