html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.comics_catalog ul li{
    list-style: none;
    color: white;
}

.comics_catalog ul{
    padding: 0;
}
.containers_catalog{
    margin: 0 5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    margin-top: 50px;
    display: flex;
    width: 42%;
    padding: 25px;
    background-color:rgba(0, 0, 0, 0.8);
    justify-content: space-between;
}

.read_edit_catalog .buttons {
    background-color: transparent;
    border-radius: 5px;
    border:1px solid white;
    color:white;
    cursor: pointer;
    height: 30px;
}

.buttons_catalog{
    color:black;
    margin: 30px;
    border: none;
    cursor: pointer;
}

.img_catalog {
    width:40%;
}

.comics_catalog {
    display: flex;
}

.nav_catalog{
    display: flex;
    justify-content: center;
}

.read_edit_catalog{
    display: flex;
   justify-content: space-around;
}

.infos_catalog{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

#button_edit_catalog{
    margin-right: 20px;
}

.material-icons.catalogue {
    font-size: 50px;
}

#ajouter_catalog{
    margin-top: 50px;
    margin-left: 92%;
    position: fixed;
    color:rgba(0, 0, 0, 0.8);
}