.comics_catalog ul li{
    list-style: none;
    color: white;
}

.comics_catalog ul{
    padding: 0;
}
.containers_catalog{
    margin: 0 5vw;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article{
    margin-top: 50px;
    display: flex;
    width: 42%;
    padding: 25px;
    background-color:rgba(0, 0, 0, 0.8);
    justify-content: space-between;
}

.read_edit_catalog .buttons {
    background-color: transparent;
    border-radius: 5px;
    border:1px solid white;
    color:white;
    cursor: pointer;
    height: 30px;
}

.buttons_catalog{
    color:black;
    margin: 30px;
    border: none;
    cursor: pointer;
}

.img_catalog {
    width:40%;
}

.comics_catalog {
    display: flex;
}

.nav_catalog{
    display: flex;
    justify-content: center;
}

.read_edit_catalog{
    display: flex;
   justify-content: space-around;
}

.infos_catalog{
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    flex-direction: column;
}

#button_edit_catalog{
    margin-right: 20px;
}

.material-icons.catalogue {
    font-size: 50px;
}

#ajouter_catalog{
    margin-top: 50px;
    margin-left: 92%;
    position: fixed;
    color:rgba(0, 0, 0, 0.8);
}

div.alert{
    width: 50%;
    display:flex;
    justify-content:center;
    margin:auto;
    margin-top:20px;
}