#sectionListMedia{
	text-align: center;

	li{
		list-style:none;
	}

	#addMedia{
		margin-left: 8px;
		margin-bottom: 10px;
	}

	.card{
		margin-bottom: 10px;
		height: 500px;
	}

	div.card-body{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	img.card-img-top{
		height:250px;
		object-fit:cover;
	}

	video,audio{
		height:250px;
		width:100%;
		object-fit:cover;
	}

}