#sectionListMedia{
	font-family: $main-font;
	text-align: center;

	li{
		list-style:none;
	}

	#addMedia{
		margin-left: 8px;
		margin-bottom: 10px;
	}

	.card{
		height: 500px;
		margin:10px 30px;
	}

	div.card-body{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding-bottom: 0;

		.card-text, .card-filename{
			font-size: 0.9em;
		}
		.card-filename{
			margin-bottom: 0;
		}

		.card-title{
			font-family: $display-font;
			margin-bottom: 4px;
		}
	}

	img.card-img-top{
		height:250px;
		object-fit:cover;
	}

	video,audio{
		height:250px;
		width:100%;
		object-fit:cover;
	}



}