@import url('https://fonts.googleapis.com/css?family=Hind|Oswald');

// Body
$body-bg: #f5f8fa;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$display-font: 'Oswald', sans-serif;
$main-font: 'Hind', sans-serif;
$main-color: #ff9315;
$danger-color:#e44949;